<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
      <div>
        <table>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>NOMBRE</th>
                  <th>CORREO</th>
                  <th>ALGUNA ACCION?</th>
              </tr>
          </thead>
            <tbody>
                <tr th:each="persona:${personas}">
                    <td th:text="${persona.id}"></td>
                    <td th:text="${persona.name}"></td>
                    <td th:text="${persona.email}"></td>
                    <td>
                        <a><input type="button">Actualizar</a>
                        <a><input type="button">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
      <a><input type="button" value="Agregar"></a>
</body>
</html>